* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {

    display: flex;
    background: #121212;

}

/* estilos universales */
h2,
h3,
h4,
h1,
p {
    color: #fff;
}

i {
    color: #9D9D9D;
}

input {
    outline: none;
}



i:hover,
a:hover {
    color: #fff;
}

a {
    text-decoration: none;
    color: #9D9D9D;
    font-weight: 700;
}



ul {
    list-style: none;
}

li {
    margin: 10% 0;
}

li:hover {
    color: #fff;
}

.menu {
    justify-content: center;
    float: left;
    width: 16%;
    display: flex;
    background: #040404;
}

.menu header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.menu nav {
    height: 100%;
    margin: 20px 0;
    width: 100%;
}

/* top */
.menu .menu__top {
    height: 22%;
    border-bottom: 1px solid #121212;

}

/* mid */
.menu .menu__barra {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50%;
    width: 100%;
    padding-right: 10%;

}

.menu .menu__barra a {
    font-size: 14px;
}

.menu .menu__barra h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #9D9D9D;
}

.menu .menu__barra::-webkit-scrollbar {
    width: 1em;
}



.menu .menu__barra::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* menu barra playlist */

.menu .menu__barra .barra {
    margin-bottom: 40px;
}


/* logo menu */

.menu nav .logo {
    display: flex;
    align-items: center;
    margin: 15px 0 30px 0;
}

.menu nav .logo i {
    margin-right: 7px;
    font-size: 40px;
    color: #1DB954;
}

.menu nav .logo h2 {
    font-size: 25px;
    font-weight: 500;
}

/* menu */

.menu nav .menu__inicio li {
    margin: 10% 0;
    display: flex;
    align-items: center;
}

.menu nav .menu__inicio li i {
    margin-right: 10%;
    font-size: 20px;
}

.menu nav .menu__inicio li a {
    margin-left: 20%;
    font-weight: 700;
    font-size: 15px;
}

.header {

    width: 64%;

}


/* menu barra */






/* nueva playlist */


.menu .menu__nueva-playlist {
    border-top: 1px solid #121212;
    height: 100%;
}

.menu .menu__nueva-playlist ul li i {
    margin-right: 5%;
    font-size: 20px;
}

.menu .menu__nueva-playlist ul li a {
    font-weight: 300;
}




/* banner section*/
.header {

    width: 64%;
    height: 300px;
}


.header li {
    margin: 0;
}

.header header {
    width: 100%;
    height: 100%;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.452)), url("../img/marshmello.jpg");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;

}

.header header .header__contenedor {
    flex-wrap: wrap;
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
    border-bottom: 1px solid #121212;
}

/*header top */
.header .top {
    margin-top: 5px;
    width: 100%;
    height: 20%;

}

.header .header__top {
    display: flex;
    justify-content: space-between;
}

.header .header__top .header__inputs {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
}

.header .header__top .header__inputs .header__inputs-icon i {
    margin-right: 10px;
    color: #fff;
}

.header .header__top .header__inputs .header__inputs-icon i:active {
    color: #9D9D9D;
}

.header .header__top .header__inputs .header__inputs-input {
    width: 60%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.header .header__top .header__inputs .header__inputs-input input {
    border-radius: 20px;
    border: none;
    padding: 3px 20px;
    outline: none;
}


.header .header__top .header__inputs .header__inputs-input .buscar {
    position: absolute;
    left: 45px;
    font-size: 10px;
    color: #000;
}

.header .header__top .header__inputs .header__inputs-input .buscar:hover {
    color: #9d9d9d;
}



.header .header__top .header__suscribete {
    display: flex;
    align-items: center;

}

.header .header__top .header__suscribete .suscribete>input {
    padding: 3px 20px;
    margin-right: 20px;
    background: hsla(0, 0%, 0%, 0.693);
    border: 1px solid #9d9d9d;
    color: #fff;
    border-radius: 20px;
}

.header .header__top .header__suscribete .suscribete>input:hover {
    border: 1.4px solid #fff;
}

.header .header__top .header__suscribete .img {
    display: flex;
    align-items: center;
}

.header .header__top .header__suscribete .img div {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    margin-right: 20px;
}

.header .header__top .header__suscribete .img div img {
    width: 100%;
    border-radius: 50%;
}

.header .header__top .header__suscribete .img i {
    color: #fff;
}

/* bottom */

.header .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* bottom mid (artista y nombres)*/


.bottom .bottom__titulos {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.bottom .bottom__titulos div {
    display: flex;
    width: 50%;
    margin-left: 5px;
}

.bottom .bottom__titulos div h3 {
    margin-right: 2%;
}

.bottom .bottom__titulos h1 {
    font-size: 80px;
    width: 50%;
}


/* bottom lower (reproducir, seguir y textos) */

.header .bottom .bottom__botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* botones  */
.header .bottom .bottom__botones .bottom__botones__botoness {
    width: 60%;
}

.header .bottom .bottom__botones .bottom__botones__botoness input {
    padding: 5px 20px;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    border: none;
    margin-right: 10px;
}

.header .bottom .bottom__botones .bottom__botones__botoness i {
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px;
    background: hsla(0, 0%, 0%, 0.693);
}

.header .bottom .bottom__botones .bottom__botones__botoness i:hover {

    border: 1.5px solid #fff;
}


.header .bottom .bottom__botones .bottom__botones__botoness .reproducir:hover {
    border: 1.4px solid #fff;
}

.header .bottom .bottom__botones .bottom__botones__botoness .reproducir {
    background: #1DB954;
}

.header .bottom .bottom__botones .bottom__botones__botoness .seguir {
    background: hsla(0, 0%, 0%, 0.693);
    border: 1px solid #9d9d9d;
    padding: 5px 60px;
}

.header .bottom .bottom__botones .bottom__botones__botoness .seguir:hover {

    border: 1.4px solid #fff;
}

/* lower textos */

.header .bottom .bottom__botones .bottom__botones__titulos {
    width: 25%;
}

.header .bottom .bottom__botones .bottom__botones__titulos .oyentes {

    text-align: right !important;
    font-size: 14px;
    color: rgb(194, 194, 194);
    font-family: sans-serif;
}

.header .bottom .bottom__botones .bottom__botones__titulos h3:hover,
p:hover {
    color: #fff;
}

/* menu inferior */


.header .bottom .header__bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    ;
}

.header .bottom .header__bottom ul {
    display: flex;
    width: 90%;
    padding: 5px 10px;
    align-items: flex-end;
    justify-content: start;
}

.header .bottom .header__bottom ul li {
    margin-right: 5%;
}

.header .bottom .header__bottom ul li a {
    font-size: 14px;
    color: #d3c8c8;
    font-weight: 500;
}

.header .bottom .header__bottom ul li .vista-general {
    border-bottom: 3px solid #1DB954;
}

.header .bottom .header__bottom ul li a:hover {
    color: #fff;
    border-bottom: 3px solid #1DB954;
    transition: all .7s;
}


/* main */



.header header .main {
    margin: 20px 0;
    width: 100%;
    height: 100%;

}

.header header .main::-webkit-scrollbar {
    width: 1em;
}


.header header .main::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* tarjetas contenedor */
.main .main__contenedor {
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* >>>contenedor de las 2 tarjetas principales */
.main .main__contenedor .main__contenedor__tarjetas {
    display: flex;
    width: 58%;
    height: 150px;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* tarjetas individuales principales */

.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta {
    width: 49%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* imagenes de las canciones */
.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta img {
    width: 30%;
    height: 65%;
}

/* contenedor de los titulos */
.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta .main__contenedor__tarjeta__titulos {
    width: 60%;
    height: 30%;

}


.main .main__contenedor h2 {

    width: 100%;
}


.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta .main__contenedor__tarjeta__titulos h3 {
    font-size: 13px;
    margin-bottom: 10px;
}

.main .main__contenedor .main__contenedor__tarjetas .main__contenedor__tarjeta .main__contenedor__tarjeta__titulos p {
    font-size: 13px;

}

/* tarjeta seleccionada por el artista */
.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista {
    position: relative;

}

/* contenedor de los titulos */
.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .contenedor__user {
    width: 65%;
    display: flex;
    flex-wrap: wrap;


}

.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .main__contenedor__tarjeta__titulos {
    width: 100%;
}

/* estilos del contenedor seleccion del artista */
.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .main__contenedor__tarjeta__titulos h3,
p {
    text-align: left;
}

.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .main__contenedor__tarjeta__titulos h3 {
    margin-bottom: 10px;
}

/* div que parece imput */

.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .contenedor__user .main__contenedor__tarjeta-user__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    background: #fff;
}

/* imagen del fake imput */
.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .contenedor__user .main__contenedor__tarjeta-user__img h4 {
    font-weight: 600;
    font-size: 12px;
    color: #000;
    width: 80%;
    margin-left: 10px;
}


.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .contenedor__user .tarjeta__user__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: blue;
}

.main .main__contenedor .main__contenedor__tarjetas .seleccion-artista .contenedor__user .tarjeta__user__img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: left;
}

/* >>>>contenedor aside */

.main .main__contenedor .main__contenedor__aside {
    width: 39%;
}

.fanaticos-like {

    width: 90%;
    margin: auto;
}

.fanaticos-like>h2 {
    font-size: 20px;

}

.fanaticos-like>h2:hover {
    text-decoration: underline;
}

.fanaticos-like .fanaticos-artistas {}

.fanaticos-like .fanaticos-artistas .artista {
    height: 50px;
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fanaticos-like .fanaticos-artistas .artista:hover {
    background: #4545455e;
}

.fanaticos-like .fanaticos-artistas .fanaticos__img {
    background: aqua;
    width: 15%;
    height: 45px;
    background-size: cover;
    border-radius: 50%;
}

.fanaticos-like .fanaticos-artistas .fanaticos__img img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.fanaticos-like .fanaticos-artistas .artista h3 {
    width: 80%;
    font-size: 14px;
}



/* populares */

.main .populares {
    margin-top: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.main .populares i {
    color: #fff;
}

.main .populares .populares__titulo {
    width: 100%;

}

.main .populares .populares__titulo>h2 {
    padding: 5px 0;
    font-size: 18px;
}






.main .populares .populares__tabla {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.main .populares .populares__tabla .populares__tabla__music {
    display: flex;
    width: 100%;
    border-top: 1px solid #252525;
}


.main .populares .populares__tabla .populares__tabla__music:hover {
    background: #4545455e;
}



.main .populares .populares__tabla .music__cinco {
    border-bottom: 1px solid #252525;

}


/* divs */

.main .populares .populares__tabla .populares__tabla__music div {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

/* imagenes */
.main .populares .populares__tabla .music__uno .music-img {
    background: url("../img/songs/happier.jpg");
    background-size: cover;
}

.main .populares .populares__tabla .music__dos .music-img {
    background: url("../img/songs/friends.jpg");
    background-size: cover;
}

.main .populares .populares__tabla .music__tres .music-img {
    background: url("../img/songs/joytime.jpg");
    background-size: cover;
}

.main .populares .populares__tabla .music__cuatro .music-img {
    background: url("../img/songs/keepit.jpg");
    background-size: cover;
}

.main .populares .populares__tabla .music__cinco .music-img {
    background: url("../img/songs/moving.jpg");
    background-size: cover;
}






/* icon play */


.main .populares .populares__tabla .populares__tabla__music i {
    display: none;
}


.main .populares .populares__tabla .populares__tabla__music .heart {
    display: inline-block;

}

/* animacion de hover */
.main .populares .populares__tabla .populares__tabla__music:hover i {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    margin: auto;
    font-size: 13px;
    border-radius: 50%;
}

/* lista del 1 al 5 */
.main .populares .populares__tabla .populares__tabla__music:hover .lista {
    display: none;
}

/* icon heart */
.main .populares .populares__tabla .populares__tabla__music .icon .heart {
    border: none;
    font-size: 16px;
}

/* icon more */
.main .populares .populares__tabla .populares__tabla__music .music-icon__more i {
    border: none;
    font-size: 16px;
}

/* music titulo */

.main .populares .populares__tabla .populares__tabla__music .music__titulo {
    width: 40%;
    justify-content: unset;

}
/* explicit */
.main .populares .populares__tabla .populares__tabla__music .music__titulo>p {
    margin-left: 10%;
    font-size: 14px;
    font-weight: 500;
}

.main .populares .populares__tabla .populares__tabla__music .music__titulo .music__titulo__picante {
    margin: 0px 5%;
}

.main .populares .populares__tabla .populares__tabla__music .music__titulo .music__titulo__picante p {
    text-align: center;
    font-size: 9px;
    color: #434343;
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid #434343;
    text-transform: uppercase;
}

.main .populares .populares__tabla .populares__tabla__music:hover .music__titulo .music__titulo__picante p {
    color: #fff;
}
/* visitas */
.main .populares .populares__tabla .populares__tabla__music .music-views {
    width: 28%;

    justify-content: flex-end;
}

.main .populares .populares__tabla .populares__tabla__music .music-views p {
    margin: 0px 10px;
    color: #9D9D9D;
    font-size: 14px;
    font-weight: 500;
}



/* aside */

.aside {
    width: 20%;
    height: 1200px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.767), hsla(0, 0%, 0%, 0.795)), url("../img/aside.png");
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.aside header {
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.aside .iconos__aside {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    height: 30px;
    background: #121212;
    padding: 10px 20px;
}

.aside .iconos__aside i {
    font-size: 20px;
    color: #fff;
}

.aside .iconos__aside i:nth-child(1),
i:nth-child(2) {
    margin-right: 10px;
}


/* bottom */
.aside header .friends-find {
    display: flex;
    height: 40%;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.aside header .friends-find .friends-find__titulos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aside header .friends-find .friends-find__titulos p {
    text-align: center;
    width: 60%;
    font-weight: 500;
}


.aside header .friends-find .friends-find__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aside header .friends-find .friends-find__buttons input {
    background: hsla(0, 0%, 0%, 0.693);
    border: 1px solid #9d9d9d;
    color: #fff;
    text-align: center;
    width: 90%;
    padding: 7px 15px;
    border-radius: 20px;
    box-sizing: border-box;
}

.aside header .friends-find .friends-find__buttons input:hover {
    padding: 9px 25px;
    width: 100%;
    transition: padding, width .5s;
}